<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product - </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>

    <nav class="navbar"></nav>

    <!-- PRODUCT DETAILS -->
    <section class="product-details">
        <div class="image-slider">
            <div class="product-images">
                <img src="/img/productImage1.png" class="active" alt="">
                <img src="/img/productImage2.png" alt="">
                <img src="/img/productImage3.png" alt="">
                <img src="/img/productImage4.png" alt="">
            </div>
        </div>
        <div class="details">
            <h2 class="product-brand">calvin klein</h2>
            <p class="product-short-des">Camiseta Calvin masculina </p>
            <span class="product-price">R$135,00</span>
            <span class="product-actual-price">R$15,00</span>
            <span class="product-discount">( 10% off )</span>

            <p class="product-sub-heading">selecione o tamanho</p>
            <div class="size_group">
                <input type="radio" name="size" value="P" checked hidden id="s-size">
                <label for="s-size" class="size-radio-btn check">P</label>
                <input type="radio" name="size" value="m" hidden id="m-size">
                <label for="m-size" class="size-radio-btn">m</label>
                <input type="radio" name="size" value="G" hidden id="l-size">
                <label for="l-size" class="size-radio-btn">g</label>

            </div>

            <a href="/cart"><button class="btn cart-btn">Adicionar ao carrinho</button></a>
            <button class="btn-list">adicionar a lista de desejos</button>

        </div>
    </section>
    <!-- END PRODUCT DETAILS -->

    <section class="detail-des">
        <h2 class="heading">descrição</h2>
        <p class="des">Camisetas de manga curta são peças de roupa que nunca pode faltar, aqui na Clothing você encontra
            de modelos mais basícos e cores neutras à modelos estampados com cores vibrantes, tudo de acordo com o seu
            gosto e necessidade.

            As camisetas que oferecemos na Clothing são de procedência garantida, original, das marcas mais renomadas do
            mundo de , como camisetas Vans, Element, Dc Shoes, Nike, Clothing Store, Nike, Santa Cruz, Daslu , Calvin
            Clain, Lacost, Dudalina, Volcom, Billabong, Creature, Diamond, Grizzly, Primitive, High Company e muito
            mais!

            Fique atento às modelagens e grade de tamanhos, se você tiver alguma dúvida do tamanho que se encaixa no seu
            estilo, entre em contato com a Cloting via WhatsApp.

            Trabalhamos com a linha de tamanhos tradicional P, M, G e GG. Linha Big 1GG, 2GG, 3GG e a linha infantil 08
            ( P ), 10/12 ( M ), 14 ( G ) e 16 ( GG ).
        </p>
    </section>

    <!-- CARDS - CONTAINER SHIRTS -->
    <section class="product">
        <h2 class="product-category">Melhores Ofertas</h2>
        <button class="pre-btn"><img src="/img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="/img/arrow.png" alt=""></button>
        <div class="product-container">

            <% produtos.forEach((produto)=> { %>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag"></span>

                        <img src="/img/<%=produto.foto_produto%>" class="product-thumb" alt="">
                        <button class="card-btn">adicionar a lista de desejos</button>
                    </div>
                    <div class="product-info">
                        <%= produto.nome_produto %>
                            <h2 class="product-brand">
                                <%= produto.marca %>
                            </h2>

                            <p class="product-short-des">
                                <%= produto.descricao %>
                            </p>

                            <span class="price">R$<%= produto.preco %></span><span class="actual-price"></span>
                    </div>
                </div>



                <% }) %>
    </section>
    <!-- END CARDS - CONTAINER SHOES -->

    <footer></footer>

    <script src="/js/nav.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/product.js"></script>

</body>

</html>